* {
    margin: 0;
}

@font-face {
    font-family: 'NavFont';
    src: url('/fonts/lemon.otf') format('opentype');

}


.fa-utensils{
    width: 300px;
    
}
.nav_pics{
display: flex;
justify-content: center;
align-items: center;

}
.nav_imge{
object-fit: cover;
width: 90px;
height: 90px;
}
.nav_par{
display: flex;
justify-content: space-between;
align-items: center;
}
.nav_list{
    font-family: 'NavFont', sans-serif;
display: flex;
margin-right:20px;
gap:20px;
font-weight: bold;
list-style-type:none ;
color: whitesmoke;
font-size: large;
margin-top: 10px;
}



.home {
    height: 700px;
    width: 100%;
    background-color: #0D1B2A;
}

.topic {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 5rem;
    color: white;
}

.topic-left {
    flex-basis: 50%;
}

.topic-left h1{
    font-weight: bold;
    font-size: 5rem;
    width: 550px;
}

.topic-left .description {
    width: 470px;
    margin-top: 0.5rem;
}

.topic-left button {
    margin-top: 2rem;
    border: none;
    border-radius: 25px;
    padding: 1rem 2rem;
}

.topic-right {
    flex-basis: 50%;
    
}
